---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -llvm*,
        -google-readability-casting,
        -bugprone-exception-escape,
        -readability-identifier-length,
        -modernize-use-trailing-return-type,
        -hicpp-no-array-decay,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -google-global-names-in-headers,
        -modernize-use-nodiscard,
"
#IgnoreClassesWithAllMemberVariablesBeingPublic: 1
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
