name: Docs

on:
  push:

env:
  CPM_SOURCE_CACHE: ${{ github.workspace }}/.cache/CPM
  HOMEBREW_NO_AUTO_UPDATE: 1

jobs:
  build:
    name: Build and publish documentation
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: "**/.cache/CPM"
          key: ${{ github.workflow }}-cpm-modules-${{ hashFiles('**/CMakeLists.txt', '**/*.cmake') }}

      - name: Install dependencies
        run: |
          brew install doxygen graphviz
          pip3 install jinja2 Pygments

      - name: Build
        run: make docs

      - name: Publish
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/docs/doxygen/html
